bin/
*.DS_Store
obj/

# copied from Rider default .gitignore
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.ElevatorApi.iml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea/
docs/Senior Consultant - Assignment.docx
docs/~$nior Consultant - Assignment.docx
