<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="${logDirectory}\internal-nlog.txt">

    <!-- Enable ASP.NET Core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- Define variables -->
    <variable name="logDirectory" value="${basedir}/logs"/>

    <!-- Define targets -->
    <targets>
        <target xsi:type="File" 
                name="log_${shortdate}" 
                fileName="${logDirectory}/log_${shortdate}.log"
                maxArchiveDays="14"
                keepFileOpen="false"
                layout="${longdate}|${aspnet-request-url}|${logger}|${level:uppercase=true}|${message}|${exception:format=tostring}|${callsite}" />>
    </targets>

    <!-- Define rules -->
    <rules>
        <!-- Skip Microsoft logs and only log warnings and above -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    
        <!-- Log everything else -->
        <logger name="ElevatorApi.*" minlevel="Debug" writeTo="log_${shortdate}" />
    </rules>
</nlog>