name: CI
  
on:
  pull_request:
    branches: [ main ]
    
permissions:
  contents: read

jobs:
  nunit:
    name: Test (NUnit)
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore and Build
        run: |
          dotnet restore
          dotnet build --configuration Release -warnaserror
      - name: Run NUnit tests
        run: dotnet test --no-build --configuration Release